<h2>Create a Superhero:</h2>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for @superhero do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :super_name %>
<%= f.text_field :super_name %>
<%= f.label :superpower %>
<%= f.collection_select :superpower_id, Superpower.all, :id, :name %>
<%= f.submit %>

<% end %>
